@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
}

.l-header__logo-img {
  width: 150px;
}

.c-navbar__list li.c-navbar__item {
  padding-left: 8px;
  padding-right: 8px;
}

.c-navbar__list li.c-navbar__item:last-child {
  padding-right: 16px;
}

.c-navbar__lang {
  border-left: 1px solid #365b6d;
}

.c-hero {
  position: relative;
  margin-top: 100px;
}

.c-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    50deg,
    rgb(0 0 0 / 74%) 0%,
    rgba(54, 91, 109, 0) 100%
  );
}

.c-hero__cta {
  background-color: transparent;
  border: 2px solid #f2f1ec;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.c-hero__cta:hover {
  background-color: #f2f1ec6c;
}
