@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  min-height: 100vh;
}

.l-header {
  box-shadow: 0px 14px 41px -33px rgba(0, 0, 0, 0.34);
}

.l-header__logo-img {
  width: 150px;
}

.c-navbar__list li.c-navbar__item {
  padding-left: 8px;
  padding-right: 8px;
}

.c-navbar__list li.c-navbar__item:last-child {
  padding-right: 16px;
}

.c-navbar__lang {
  border-left: 1px solid #365b6d;
}

.c-hero {
  position: relative;
  margin-top: 100px;
}

.c-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    50deg,
    rgb(0 0 0 / 74%) 0%,
    rgba(54, 91, 109, 0) 100%
  );
}

.c-hero__cta {
  background-color: transparent;
  border: 2px solid #f2f1ec;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.c-hero__cta:hover {
  background-color: #f2f1ec6c;
}

.c-soc-icons {
  position: relative;
}

.c-soc-icons__wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.c-soc-icons__item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1ec;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.c-soc-icons__item svg {
  color: #365b6d;
  width: 20px;
  height: 20px;
}

.c-soc-icons__item:hover {
  background-color: #365b6d;
  transform: scale(1.2);
}

.c-soc-icons__item:hover svg {
  transition: all 0.3s ease;
  color: #f2f1ec;
}

.c-soc-icons__item svg.fa-envelope {
  width: 16px;
  height: auto;
}

.c-brands__slide {
  max-height: 180px;
  margin: 20px auto;
}
