@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
}

.l-header {
  box-shadow: 0px 14px 41px -33px rgba(0, 0, 0, 0.34);
}

.l-header__logo-img {
  width: 150px;
}

.c-navbar__lang {
  border-left: 1px solid #365b6d;
}

.c-hero {
  position: relative;
  margin-top: 100px;
}

.c-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    50deg,
    rgb(0 0 0 / 74%) 0%,
    rgba(54, 91, 109, 0) 100%
  );
}

.c-hero__cta {
  background-color: transparent;
  border: 2px solid #f2f1ec;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.c-hero__cta:hover {
  background-color: #f2f1ec6c;
}

.c-soc-icons {
  position: relative;
}

.c-soc-icons__wrapper {
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 10;
}

.c-soc-icons__item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1ec;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.c-soc-icons__item svg {
  color: #365b6d;
  width: 20px;
  height: 20px;
}

.c-soc-icons__item:hover {
  background-color: #365b6d;
  transform: scale(1.2);
}

.c-soc-icons__item:hover svg {
  transition: all 0.3s ease;
  color: #f2f1ec;
}

.c-soc-icons__item svg.fa-envelope {
  width: 16px;
  height: auto;
}

.c-brands__slide {
  max-height: 180px;
  margin: 20px auto;
}
.container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper-wrapper {
  margin-bottom: 40px;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #365b6d;
  width: 20px;
  height: 20px;
}

.c-title-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-title-section__icon {
  width: 80px;
}

.c-videos__item-poster {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  height: 560px;
  width: 315px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.c-videos__play-icon {
  width: 140px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  transition: all 0.3s ease;
}

.c-videos__item.hidden .c-videos__item-poster,
.c-videos__item.hidden .c-videos__play-icon {
  opacity: 0;
  transform: scale(0);
}

.c-brands__slider {
  position: relative;
}

.c-brands__slider::before,
.c-brands__slider::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 75px;
  height: 100%;
  z-index: 2;
}

.c-brands__slider::before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(242, 241, 236, 1) 50%,
    rgba(242, 241, 236, 0) 100%
  );
}

.c-brands__slider::after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(242, 241, 236, 0) 0%,
    rgba(242, 241, 236, 1) 50%
  );
}

.l-footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.l-footer__socicons {
  flex: 0 0 300px;
}

.l-footer__logo-img {
  margin-right: 50px;
}

.l-footer__socicons .c-soc-icons__wrapper {
  position: relative;
  bottom: auto;
  right: auto;
  display: flex;
  flex: 0 0 300px;
  align-items: center;
  justify-content: space-between;
}

.l-footer__socicons .c-soc-icons__wrapper .c-soc-icons__item {
  width: 40px;
  height: 40px;
  background-color: #365b6d;
}

.l-footer__socicons .c-soc-icons__wrapper .c-soc-icons__item svg {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.c-topup {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #f2f1ec;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s ease;
}

.c-topup:hover {
  background-color: #365b6d;
  transform: scale(1.2);
}

.c-topup svg {
  width: 20px;
  height: 20px;
  color: #365b6d;
}

.c-topup:hover svg {
  color: #f2f1ec;
}
